<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/thumbnail-slider.css" rel="stylesheet"/>
    <link href="/css/slider-img.css" rel="stylesheet"/>
    <script src="/js/thumbnail-slider.js" type="text/javascript"></script>
</head>
<body>
    <!--start-->
    <div>
        <div id="thumbnail-slider">
            <div class="inner">
                <ul>
                    <li>
                        <a class="thumb" href="/img/1.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="/img/6.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="/img/7.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="/img/2.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="/img/3.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="/img/4.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="/img/8.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="/img/10.jpg"></a>
                    </li>
                     <li>
                        <a class="thumb" href="/img/12.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
