@charset "ISO-8859-1";

#contact-div {
	height: 350px;
	max-width: 700px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;  	
	margin: auto;
}

.contact-info {
	height: 350px;
	max-width: 250px; 
}

.contact-info img {
	width: 100%;
	height: 100%;
}

.contact-info h2 {
	margin-bottom: 10%;
}

.contact-form {
	font-size: 13px;	
	background: #F7EDE1;
	padding: 3%;
	max-width: 450px; 
	height: 350px;
}

.contact-form button {
	background: #5AB3B9;
	color: #fff;
	font-weight: 600;
	width: 30%;
	display: block;
	margin-bottom: -30px;
}

.fields {
	margin: 2% auto;
}